<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="sqlbcWallet.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="sqlbcWallet.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <sqlbcWallet.My.MySettings>
            <setting name="myED" serializeAs="String">
                <value />
            </setting>
            <setting name="myQT" serializeAs="String">
                <value />
            </setting>
            <setting name="userName" serializeAs="String">
                <value />
            </setting>
            <setting name="fullName" serializeAs="String">
                <value />
            </setting>
            <setting name="emailAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="contactList" serializeAs="String">
                <value />
            </setting>
            <setting name="trxList" serializeAs="String">
                <value />
            </setting>
            <setting name="pwd" serializeAs="String">
                <value />
            </setting>
        </sqlbcWallet.My.MySettings>
    </userSettings>
    <applicationSettings>
        <sqlbcWallet.My.MySettings>
            <setting name="wellKnownAddress" serializeAs="String">
                <value>54.254.163.10:18371</value>
            </setting>
            <setting name="odbc" serializeAs="String">
                <value>Data Source=springroll;Initial Catalog=blockchain;user id=gov;pwd=ljcom2x;timeout=600</value>
            </setting>
        </sqlbcWallet.My.MySettings>
    </applicationSettings>
</configuration>